.products-catalog-tile {
  position: relative;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  inline-size: 350px;
  min-width: 400px;
  min-height: 200px;
  font-size: 24px;
  background: #ffffff;
  text-align: center;;
  text-wrap: wrap;
  margin: 20px;
}

